#header{position: fixed;top: 0;left: 0;width: 100%;z-index: 100;}

.header--container{background-color: #fff;}
.header--wrap{padding: 14px var(--sidePd--);border-bottom: 1px solid #ddd;display: flex;justify-content: space-between;position: relative;}
.header--logo{position: relative;z-index: 49;width: 69px;}
.header--logo img{width: 100%;display: block;}

.header--menu{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: flex;justify-content: center;width: 100%;z-index: 48;}
.header--menu a{padding: 18px 24px;font-size: 18px;font-weight: 500;color: #000;display: flex;}
.header--menu a p{position: relative;}
.header--menu a.onVisit{color: #0246ff;}
.header--menu a.onVisit span{display: block;width: 4px;height: 4px;background-color: #ff1a1a;position: absolute;top: 0;right: 0;transform: translate(100%,-100%);}

.header--tools{position: relative;z-index: 49;}
.header--tools-siteVisit{display: flex;align-items: center;font-size: 13px;margin-right: 20px;}
.header--tools-siteVisit img{display: block;margin-right: 8px;}
.header--tools{display: flex;align-items: center;}
.header--tools-review{background-color: #0246ff;padding: 11px 17px;border-radius: 24px;color: #fff;font-weight: 500;font-size: 13px;display: flex;height: 35px;align-items: center;margin-right: 24px;}
#headerSearchButton{margin-right: 24px;}
#headerSearchButton img{display: block;}
#headerSearchButton,
#headerSearchHam{cursor: pointer;}
#headerSearchHam{width: 20px;height: 14px;display: flex;flex-direction: column;justify-content: space-between;}
#headerSearchHam span{width: 100%;height: 2px;display: block;background-color: #000;}

.header--subWrap-list{display: none;justify-content: center;border-bottom: 1px solid #ddd;}
.header--subWrap-listItem a{display:block;font-size: 16px;padding: 18px 24px;}
@media all and (max-width:769px){
    .header--subWrap-listItem a{padding: 14px 12px;font-size: 13px;}
}
.headerComponent[data-visit="1"] .header--menu a:nth-child(1){color: #0246ff;}
.headerComponent[data-visit="1"] .header--subWrap-list{display: flex;}
.headerComponent[data-visit="2"] .header--menu a:nth-child(2){color: #0246ff;}
.headerComponent[data-visit="3"] .header--menu a:nth-child(3){color: #0246ff;}
.headerComponent[data-visit="4"] .header--menu a:nth-child(4){color: #0246ff;}
.headerComponent[data-visit="5"] .header--menu a:nth-child(5){color: #0246ff;}
.headerComponent[data-visit="5"] .header--menu a:nth-child(6){color: #0246ff;}
.headerComponent[data-visit="1"] .header--menu a:nth-child(1) span{display: block;width: 4px;height: 4px;background-color: #ff1a1a;position: absolute;top: 0;right: 0;transform: translate(100%,-100%);}
.headerComponent[data-visit="2"] .header--menu a:nth-child(2) span{display: block;width: 4px;height: 4px;background-color: #ff1a1a;position: absolute;top: 0;right: 0;transform: translate(100%,-100%);}
.headerComponent[data-visit="3"] .header--menu a:nth-child(3) span{display: block;width: 4px;height: 4px;background-color: #ff1a1a;position: absolute;top: 0;right: 0;transform: translate(100%,-100%);}
.headerComponent[data-visit="4"] .header--menu a:nth-child(4) span{display: block;width: 4px;height: 4px;background-color: #ff1a1a;position: absolute;top: 0;right: 0;transform: translate(100%,-100%);}
.headerComponent[data-visit="5"] .header--menu a:nth-child(5) span{display: block;width: 4px;height: 4px;background-color: #ff1a1a;position: absolute;top: 0;right: 0;transform: translate(100%,-100%);}
.headerComponent[data-visit="5"] .header--menu a:nth-child(6) span{display: block;width: 4px;height: 4px;background-color: #ff1a1a;position: absolute;top: 0;right: 0;transform: translate(100%,-100%);}

.headerComponent[data-sub-visit="1"] .header--subWrap-listItem:nth-child(1) a{font-weight: 700;}
.headerComponent[data-sub-visit="2"] .header--subWrap-listItem:nth-child(2) a{font-weight: 700;}
.headerComponent[data-sub-visit="3"] .header--subWrap-listItem:nth-child(3) a{font-weight: 700;}


/* header search */
.header--searchPopup.show{display: block;}
.header--searchPopup{display: none;}
.header--searchPopup{position: absolute;width: 100%;top: 0;left: 0;background-color: #fff;z-index: 99;padding: 40px var(--sidePd--);}
.header--searchPopupWrap{display: flex;justify-content: center;width: 100%;}

.header--searchLogo{width: 69px;position: absolute;left: var(--sidePd--);transform: translate(0,-26px);}
.header--searchLogo img{width: 100%;display: block;}
.header--search-figure{width: 100%;max-width: 640px;}
.header--searchBox{padding: 0px 32px;border-radius: 40px;border: 1px solid #ddd;display: flex;align-items: center;margin-bottom: 20px;}
.header--searchInput{outline: none;border: 0px solid #000;padding: 22px 0;font-size: 18px;line-height: 1;width: 100%;}
.header--searchInput::placeholder{color:#000;font-weight: 700;}
.header--searchIcon{margin-right: 24px;}
.header--search-tags{display: flex;justify-content: center;align-items: center;}
.header--search-tags a{display: block;padding: 12px 16px;font-size: 15px;color: #666;background-color: #f7f7f7;border-radius: 32px;cursor: pointer;}
.header--search-tags a:not(:last-child){margin-right: 10px;}

.header--searchPopup-close{width: 38px;height: 38px;padding: 8px;position: absolute;right: var(--sidePd--);cursor: pointer;margin-right: 34px;top: 32px;}
.header--searchPopup-close span{width: 30px;height: 2px;background-color: #000;display: block;position: absolute;top: 50%;left: 50%;}
.header--searchPopup-close span:first-child{transform: translate(-50%,-50%)rotate(45deg);}
.header--searchPopup-close span:last-child{transform: translate(-50%,-50%)rotate(-45deg);}

.header--searchBg{width: 100%;height: 100vh;background-color: rgba(0,0,0,0.5);top: 0;left: 0;position: absolute;}
.header--searchBg{display: none;}
.show.header--searchBg{display: block;}